* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
}

main {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  margin: 0 auto;
  background-color: white;
}
