.header-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	font-size: var(--font-small);
	background-color: var(--primary-color);
}

.header__nav {
	align-content: center;
	width: 100%;
}

.header__section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	width: 30%;
	height: auto;
}

.header__ul {
	display: flex;
	flex-wrap: wrap;
}

.header__ul li {
	margin: 0 .8rem 0;
}